@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply text-black font-inter m-0 p-0 overflow-x-hidden uppercase tracking-widest font-semibold;
    background-color: #FFFFFF;
  }

  /* Smooth scroll for Lenis */
  html.lenis, html.lenis body {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

@layer utilities {
  .clip-text-reveal {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
